@model randevuOtomasyonu.Models.Login

<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>Kullanıcılar</h3>
        </div>
        <div class="box">
            <div class="box-body">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary" href="/Home/kullanıcıEkle"> Kayit Ekle </a>
                </div>
                <table width="100%" class="table table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>E-posta</th>
                            <th>Şifre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in ViewBag.login as List<Login>)
                        {
                            <tr>
                                <td>@(item.LoginId)</td>
                                <td>@(item.Email)</td>
                                <td>@(item.Sifre)</td>
                                <td class="text-end">

                                    <a class="btn btn-outline-info btn-rounded" asp-action="kullanıcıDüzenle" asp-route-id="@item.LoginId"><i class="fas fa-pen"></i></a>

                                    <a class="btn btn-outline-danger btn-rounded" asp-action="kullanıcıSil" asp-route-id="@item.LoginId"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            
                        }
                    
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>
</div>