@model IEnumerable<randevuOtomasyonu.Models.Musteri>

<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>Müsteri Bilgileri</h3>
        </div>
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form action="/Home/Search?searchValue=@ViewBag.Search" metot="post">
                        <div class="input-group mb-3">
                            <input type="text" id="searchValue" name="searchValue" class="form-control" placeholder="Müşteri Adı, E-posta vb." aria-label="Müşteri ara" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Ara</button>
                        </div>
                    </form>
                    <div class="">
                        <a class="btn btn-outline-danger btn-rounded" href="/Home/musteriEkle"> Yeni Giriş </a>
                    </div>
               
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">

                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover dataTable no-footer dtr-inline"
                                       id="dataTables-example" width="100%" role="grid"
                                       aria-describedby="dataTables-example_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting sorting_asc" tabindex="0"
                                                aria-controls="dataTables-example" rowspan="1" colspan="1"
                                                style="width: 86px;" aria-sort="ascending"
                                                aria-label="ID: activate to sort column descending">ID</th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="dataTables-example" rowspan="1" colspan="1"
                                                style="width: 248px;"
                                                aria-label="Name: activate to sort column ascending">
                                                Ad
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="dataTables-example" rowspan="1" colspan="1"
                                                style="width: 159px;"
                                                aria-label="Tel: activate to sort column ascending">
                                                Soyad
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="dataTables-example" rowspan="1" colspan="1"
                                                style="width: 218px;"
                                                aria-label="E-posta: activate to sort column ascending">
                                                Telefon
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="dataTables-example" rowspan="1" colspan="1"
                                                style="width: 364px;"
                                                aria-label="arac marka: activate to sort column ascending">
                                                E-mail
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="dataTables-example" rowspan="1" colspan="1"
                                                style="width: 364px;"
                                                aria-label="arac model: activate to sort column ascending">
                                                Marka
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="dataTables-example" rowspan="1" colspan="1"
                                                style="width: 364px;"
                                                aria-label="arac yil: activate to sort column ascending">
                                                Model
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="dataTables-example" rowspan="1" colspan="1"
                                                style="width: 364px;"
                                                aria-label="arac motor: activate to sort column ascending">
                                                Yil
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="dataTables-example" rowspan="1" colspan="1"
                                                style="width: 364px;"
                                                aria-label="arac motor: activate to sort column ascending">
                                                MotorTipi
                                            </th>
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="odd">                                            
                                                <td>@(item.MusteriId)</td>
                                                <td>@(item.Ad)</td>
                                                <td>@(item.Soyad)</td>
                                                <td>@(item.Telefon)</td>
                                                <td>@(item.Email)</td>
                                                <td>@(item.Marka)</td>
                                                <td>@(item.Model)</td>
                                                <td>@(item.Yil)</td>
                                                <td>@(item.MotorTipi)</td>
                                                <td class="text-end">
                                                    <div class="row">
                                                        <a class="btn btn-outline-info btn-rounded" asp-action="musteriDüzenle" asp-route-id="@item.MusteriId"><i class="fas fa-pen"></i></a>

                                                        <a class="btn btn-outline-danger btn-rounded" asp-action="musteriSil" asp-route-id="@item.MusteriId"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>     
                                        }
                                      
                                    </tbody>
                                  
                                </table>                       
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>